/* ----- Global styles ----- */
/* border box fix */
* { box-sizing: border-box; }

/* sets default styling of text on linked pages */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: Black;
  background: white;
}

  /* sets link color to match the element it's inside 
    also removes their underline until hovered.*/
a { 
  color: inherit; text-decoration: none; 
}
a:hover { 
  text-decoration: underline; 
}
/* make links normal blue color */
a:link {
  color: #0000FF
}

/* keeps text from spanning the entire page */
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
}

/* ----- HEADER ----- */

.site-header {
  border-bottom: 1px solid lightgrey;
  background: rgb(209, 209, 210);;
}

/* aligns header items and adds spacing around them */
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

/* large and bold title */
.banner {
  font-size: 28px;
  font-weight: bold ;
}

/* styles navigation links in the header */
.site-nav a {
  margin-left: 18px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: black;
}


/* ----- BUTTONS ----- */

/* sets spacing and shape of buttons */
.btn {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 3px;
  font-size: 14px;
  margin: 6px;
}

/* sets button color */
.btn-blue {
  background: #55BEC4;
  color: white;
  border: none;
}

/* makes button slightly transparent when hovered */
.btn:hover {
  opacity: 0.85;
}

/* ----- CONTENT ----- */
/* centers content inside the content block */
.content-block {
  text-align:center;
}

/* aligns paragraph/list text in a content block to the left */
.content-block p, li {
  text-align: left;
}

/* makes main heading italic */
.content-block h1{
  font-style: italic;
}

/* limits image size */ 
.sample-img {
  max-height: 500px;
  max-width: 500px;
}

/* ----- FOOTER ----- */

.site-footer {
  background: beige;
  border-top: 1px solid #eee;
  padding: 24px 0;
}

/* styles footer navigation links */
.footer-nav a {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

/* arranges footer elements */
.footer-inner {
  display: flex;
  gap: 24px;
}

/* sets appearance of the footer text and spaces it */
.footer-text {
  max-width: 360px;
  color: Gray;
  font-size: 12px;
  margin-left: 10px;
}

